@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url("https://pro.fontawesome.com/releases/v6.0.0-beta1/css/all.css");
@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');


.titulo {
    font-family: 'Carter One', cursive;
    font-size: 4rem;
    color: #14156a;
    text-align: center;
    margin-top: 20px;
}


ul.ul-cards {
  width: min(100%, 100%);/* Estaba en 60rem */
  /*height: 33rem; Esto lo agregue yo*/
  margin-inline: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  list-style: none;
  justify-content: center;
}
ul.ul-cards > li {
  --bg-color: #f2f2f2;
  --text-color: #333;
  --padding: 1rem;
  --circle-size: 10rem;
  --circle-expand: 1rem;
  --flap-height: 1.25rem;
  --flap-offset: 0.5rem;
  max-width: 80%; /*Ancho del card, estaba a 15rem */
  margin-top: calc(var(--circle-size) / 2 + var(--circle-expand));
  margin-bottom: var(--flap-offset);
  background-color: var(--bg-color);
  background-image: linear-gradient(
    to bottom left,
    transparent 50%,
    rgba(0 0 0 / 0.125)
  );
  border-radius: var(--padding);
  padding: var(--padding);

  --bs-rim: inset -0.1rem 0.1rem 0.1rem rgb(255 255 255 / 0.5);
  --bs-card-spread: 0.25rem;
  --bs-card-color: rgb(0 0 0 / 0.02);
  --bs-card: -0.1rem 0.1rem var(--bs-card-spread) var(--bs-card-color),
    -0.2rem 0.2rem var(--bs-card-spread) var(--bs-card-color),
    -0.3rem 0.3rem var(--bs-card-spread) var(--bs-card-color),
    -0.4rem 0.4rem var(--bs-card-spread) var(--bs-card-color),
    -0.5rem 0.5rem var(--bs-card-spread) var(--bs-card-color),
    -0.6rem 0.6rem var(--bs-card-spread) var(--bs-card-color),
    -0.7rem 0.7rem var(--bs-card-spread) var(--bs-card-color),
    -0.8rem 0.8rem var(--bs-card-spread) var(--bs-card-color),
    -0.9rem 0.9rem var(--bs-card-spread) var(--bs-card-color),
    -1rem 1rem var(--bs-card-spread) var(--bs-card-color),
    -1.1rem 1.1rem var(--bs-card-spread) var(--bs-card-color),
    -1.2rem 1.2rem var(--bs-card-spread) var(--bs-card-color),
    -1.3rem 1.3rem var(--bs-card-spread) var(--bs-card-color),
    -1.4rem 1.4rem var(--bs-card-spread) var(--bs-card-color),
    -1.5rem 1.5rem var(--bs-card-spread) var(--bs-card-color),
    -1.6rem 1.6rem var(--bs-card-spread) var(--bs-card-color),
    -1.7rem 1.7rem var(--bs-card-spread) var(--bs-card-color),
    -1.8rem 1.8rem var(--bs-card-spread) var(--bs-card-color),
    -1.9rem 1.9rem var(--bs-card-spread) var(--bs-card-color);
  box-shadow: var(--bs-rim), var(--bs-card);
  display: grid;
  grid-template-rows: max-content max-content auto;
  justify-items: center;
  text-align: center;
  gap: 0.75rem;
  position: relative;
}
ul.ul-cards > li > .icon {
  width: var(--circle-size);
  margin-top: calc(var(--circle-size) / -2 - var(--padding));
  aspect-ratio: 1;
  background-color: var(--bg-color);
  justify-self: center;
  border-radius: 50%;
  display: grid;
  place-items: center;
  box-shadow: var(--bs-rim), -0.1rem 0.1rem 0.25rem rgb(0 0 0 / 0.25);
}
ul.ul-cards > li > .icon > i {
  font-size: calc(var(--circle-size) / 3);
  color: var(--accent-color);
}
ul.ul-cards > li > .title {
  margin-top: 0.5rem;
  color: var(--accent-color);
  font-size: 1.9rem; /* Esto lo agregue yo*/
  font-weight: 700;
}
ul.ul-cards > li > .content {
  font-size: 0.9rem;
  margin-bottom: 1rem;
  color: var(--text-color);
}

ul.ul-cards > li::before,
ul > li::after {
  content: "";
  position: absolute;
}
ul.ul-cards > li::before {
  top: calc(var(--circle-size) / -2 - var(--circle-expand));
  width: calc(var(--circle-size) * 1 + var(--circle-expand) * 2);
  height: calc(
    100% + var(--circle-size) / 2 + var(--padding) + var(--flap-offset)
  );
  background-color: var(--accent-color);
  background-image: linear-gradient(transparent 50%, rgb(0 0 0 / 0.25) 0);
  border-top-left-radius: calc(var(--circle-size) / 2 + var(--circle-expand));
  border-top-right-radius: calc(var(--circle-size) / 2 + var(--circle-expand));
  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - var(--flap-offset)),
    calc(100% - var(--flap-offset)) 100%,
    var(--flap-offset) 100%,
    0 calc(100% - var(--flap-offset))
  );
  z-index: -1;
}
ul.ul-cards > li::after {
  width: calc(
    var(--circle-size) * 1 + var(--circle-expand) * 2 - var(--flap-offset) * 2
  );
  height: var(--flap-height);
  bottom: calc(var(--flap-offset) * -1);
  border-top-left-radius: var(--flap-height);
  border-top-right-radius: var(--flap-height);
  background-color: var(--accent-color);
}

/*  */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  margin-bottom: 2rem;
}





.container_profile {
    flex-direction: column;
    width: 90% !important;
    min-width: 300px;
}

.contenedor {
    /*width: 100%;*/
    /*height: 35rem;*/
    background: #f4f8f7;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1rem;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 10px;
}

.image_area {
    /*position: relative;*/
    /*width: 150px;
    height: 150px;*/
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    overflow: hidden;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 2px 16px rgba(0,0,0,0.8);
    /*margin-top: -10rem;*/
    
    /*border: solid;
    border-color: white;
    border-width: 1rem;*/
}

#uploaded_image {
    /*width: 200px;*/  
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    box-shadow: 0 2px 16px rgba(0,0,0,1);
    
}

.nombre {
    font-family: 'Secular One', sans-serif;
    font-size: 4rem;
    font-weight: 600;
    color: rgb(104, 102, 102);
    margin-top: 1rem;
}

.titulos {
    display: flex;
    flex-direction: row;
    color: rgb(0, 0, 0);
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    /*color: white;*/
}

.datos {
    margin-left: 0.5rem;
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    /*color: white;*/
}

.contenedor-datos {
    display: flex;
    flex-direction: row;
    background-color: transparent;
    width: 90%;
    padding: 1rem;
}

/* Estos dos hacen que las listas de datos sean responsives */
.list-group{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1000px;
  }

  .list-group-item{
    min-width: 200px;
    max-width: fit-content;
  }

/*Para que el fondo de las listas sea transparente*/
li.list-group-item {    
    background-color: transparent;
    border: none;
}

label {
    display: contents !important;
}

.buton_edit {
    background-color: #68AFFF; 
    color:#FFF;
}

.buton_edit:hover {
    background-color: #44AFFF; 
    color:#FFF;
    box-shadow: 0 2px 16px rgba(0,0,0,1);
}

.icono {
    margin-left: 1rem;
}


  img {
        display: block;
        max-width: 100%;
  }

  .preview {
        overflow: hidden;
        width: 160px; 
        height: 160px;
        margin: 10px;
        border: 1px solid red;
  }

  .modal-lg{
        max-width: 1000px !important;
  }

  .text {
    color: #333;
    font-size: 13px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .datos-extras{
    width: 25vw;
    font-size: 12vw;
  }
.accordion-button, .accordion-body{
    background-color: #e6e4e4ef !important;
}